<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <%- include('./common/head.ejs') %>

</head>
<body>
    <%- include('./common/header.ejs'); %>


    <%- include('./common/footer.ejs') %> <%-
		include('./common/scriptpack.ejs') %>
</body>
</html>